body {
  background-color: rgb(39, 39, 39);
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

div, input {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, main, section {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  display: block;
}

input {
  outline: none;
  border: none;
}

input[type=text] {
  width: 100%;
  display: block;
}

label {
  display: block;
}

.hidden {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

.txt {
  font-family: sans-serif;
  color: white;
  cursor: default;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.def-optimize_img {
  max-width: 100%;
  max-height: 100%;
}

.inner {
  width: 1000px;
  margin: auto;
}

@font-face {
  font-family: "robotoFlex";
  src: url("../fonts/RobotoFlex.ttf");
}
@font-face {
  font-family: "robotoConc";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
.header {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(39, 39, 39, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 40px -2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}
.header__left {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 2;
}
.header__left > * {
  height: 100%;
}
.header__center {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  z-index: 2;
}
.header__right {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 2;
}
.header__right > * {
  height: 100%;
}
.header__logo {
  position: relative;
  z-index: 2;
  height: 50px;
}
.header__logo > img {
  height: 100%;
  filter: invert(1);
}
.header__searchBlock {
  display: flex;
  align-items: center;
  position: relative;
}
.header__searchBlock > input {
  height: 45px;
  width: 600px;
  background-color: rgba(186, 186, 186, 0.5);
  border: 1px solid rgba(186, 186, 186, 0.6);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: robotoFlex, sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: 0.15s;
}
.header__searchBlock > input:focus {
  background-color: rgba(186, 186, 186, 0.7);
}
.header__searchBlock__button {
  padding: 12px;
  height: 45px;
  width: 45px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(1, 162, 255, 0);
  transition: 0.15s;
  transform: translateX(-100%);
}
.header__searchBlock__button:hover {
  background-color: rgb(1, 162, 255);
}
.header__buttonCatalog {
  height: 45px;
  width: 45px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(186, 186, 186, 0.5);
  border: 1px solid rgba(186, 186, 186, 0.6);
  transition: 0.15s;
  cursor: pointer;
  margin-right: 10px;
}
.header__buttonCatalog > svg {
  transition: 0.25s;
}
.header__buttonCatalog:hover {
  background-color: rgb(1, 162, 255);
}
.header__buttonCatalog:active > svg {
  transform: scale(0.8);
}
.header__buttonCatalog_active {
  background-color: rgb(1, 162, 255);
}
.header__buttonCatalog_active:hover {
  background-color: rgb(170, 22, 22);
}
.header__nav {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.header__nav__button {
  height: 45px;
  width: 45px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.15s;
  cursor: pointer;
}
.header__nav__button > img {
  width: 100%;
  filter: invert(1);
  transition: 0.25s;
}
.header__nav__button:hover {
  background-color: rgb(1, 162, 255);
}
.header__nav__button:active .header__nav__button > img {
  transform: scale(0.8);
}
.header__nav__button_active {
  background-color: rgb(1, 162, 255);
}
.header__nav__button_active:hover {
  background-color: rgb(170, 22, 22);
}
.header__catalogNavs {
  position: absolute;
  top: 75px;
  left: 0;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  transition: 0.15s;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 1;
  transform: translateY(0px);
}
.header__catalogNavs__head {
  border-radius: 7px;
  background: rgba(16, 16, 16, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.header__catalogNavs__head > svg {
  width: 20px;
  opacity: 0.5;
  transform: translateY(0px);
  transition: 0.15s;
}
.header__catalogNavs__head > h3 {
  font-family: robotoFlex, sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.header__catalogNavs__head:hover > svg {
  opacity: 1;
  transform: translateX(5px) translateY(0px);
}
.header__catalogNavs__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__catalogNavs__grid__nav {
  border-radius: 7px;
  background: rgba(16, 16, 16, 0.3);
  font-family: robotoFlex, sans-serif;
  font-size: 14px;
  padding: 7px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 0.15s;
}
.header__catalogNavs__grid__nav img {
  margin-right: 7px;
}
.header__catalogNavs__grid__nav:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.header__catalogNavs__grid__nav:active {
  transform: scale(0.97);
}
.header__catalogNavs_hidden {
  transform: translateY(-10px);
  opacity: 0;
  display: none;
}

.blackoutBlock {
  z-index: 45;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  opacity: 0;
  display: none;
}
.blackoutBlock_active {
  opacity: 1;
}

.carousel {
  display: flex;
  padding: 100px 150px 15px 150px;
  position: relative;
}
.carousel__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  transition: 1s;
  opacity: 0;
  filter: blur(50px);
}
.carousel__bg > img {
  width: 100%;
  height: 100%;
}
.carousel__bg_active {
  opacity: 0.4;
}
.carousel__buttons {
  position: absolute;
  bottom: 45px;
  right: 175px;
  z-index: 8;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}
.carousel__buttons__button {
  width: 55px;
  height: 55px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 0.15s;
  cursor: pointer;
}
.carousel__buttons__button > img {
  width: 100%;
  filter: invert(1);
}
.carousel__buttons__button:nth-child(1) img {
  transform: rotate(180deg) translateX(2px);
}
.carousel__buttons__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.carousel__buttons__button:active {
  transform: scale(0.95);
}
.carousel__buttons__button_disactive {
  cursor: default;
  opacity: 0.5;
}
.carousel__buttons__button_disactive:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.carousel__buttons__button_disactive:active {
  transform: scale(1);
}
.carousel__grid {
  width: 100%;
  display: flex;
  position: relative;
}
.carousel__gridBG {
  position: absolute;
  right: 0px;
  bottom: -100px;
  top: -100px;
  left: 0px;
  z-index: 1;
}
.carousel__banner {
  width: 100%;
  height: 515px;
  margin-left: -100%;
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.carousel__banner__imgBlock {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.carousel__banner__imgBlock > img {
  width: 100%;
  display: block;
  transition: 0.3s;
}
.carousel__banner__interaction {
  transform: translateY(-100%);
  padding-left: 25px;
  padding-bottom: 25px;
  margin-bottom: -159px;
}
.carousel__banner__interaction__info {
  display: inline-block;
}
.carousel__banner__interaction__info__link {
  position: absolute;
  top: -1000px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: block;
}
.carousel__banner__interaction__info__title {
  font-family: robotoFlex;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
.carousel__banner__interaction__info__shopInfo {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 15px;
  width: 350px;
  position: relative;
  z-index: 3;
}
.carousel__banner__interaction__info__shopInfo__buttons {
  display: flex;
  gap: 10px;
}
.carousel__banner__interaction__info__shopInfo__buttons__button {
  width: 55px;
  height: 55px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 0.15s;
  cursor: pointer;
}
.carousel__banner__interaction__info__shopInfo__buttons__button > img {
  width: 100%;
  filter: invert(1);
}
.carousel__banner__interaction__info__shopInfo__buttons__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.carousel__banner__interaction__info__shopInfo__buttons__button:hover img {
  animation: header_nav_hover 0.25s ease-out 1;
}
.carousel__banner__interaction__info__shopInfo__buttons__button:active {
  transform: scale(0.95);
}
.carousel__banner__interaction__info__shopInfo__priceTag {
  display: flex;
  gap: 10px;
}
.carousel__banner__interaction__info__shopInfo__priceTag__prices__newPrice {
  font-size: 20px;
  font-weight: 500;
}
.carousel__banner__interaction__info__shopInfo__priceTag__prices__oldPrice {
  font-size: 18px;
  font-weight: 400;
  color: rgb(200, 200, 200);
  text-decoration: line-through;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.carousel__banner__interaction__info__shopInfo__priceTag__discount {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 100%;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}
.carousel__banner__interaction__info__shopInfo_dark {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel__banner__interaction__info__shopInfo_dark .carousel__banner__interaction__info__shopInfo__buttons__button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
}
.carousel__banner__interaction__info__shopInfo_dark .carousel__banner__interaction__info__shopInfo__priceTag__discount {
  background-color: rgba(255, 255, 255, 0.2);
}

.salesHits {
  position: relative;
  z-index: 10;
  height: 550px;
  padding: 20px 150px 15px 150px;
  overflow: hidden;
}
.salesHits__bg {
  top: 35px;
  left: -20px;
  right: -20px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.8), rgb(39, 39, 39));
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  transform: rotate(2deg);
  border-top: 2px solid rgb(255, 255, 255);
}
.salesHits h3 {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  font-family: robotoFlex, sans-serif;
}
.salesHits__games {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.salesHits__blockButtonMore {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.salesHits__blockButtonMore__button {
  display: flex;
  align-items: center;
  font-family: robotoFlex, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.salesHits__blockButtonMore__button img {
  margin-left: 5px;
  height: 16px;
  filter: invert(1);
  opacity: 0.5;
  transform: translateY(1px) translateX(0px);
  transition: 0.15s;
}
.salesHits__blockButtonMore__button:hover img {
  opacity: 1;
  transform: translateY(1px) translateX(5px);
}
.salesHits_loading > h3 {
  display: none;
}
.salesHits_loading .salesHits__blockButtonMore {
  display: none;
}
.salesHits_loading .salesHits__blockButtonMore {
  display: none;
}
.salesHits_loading .loadingBlock {
  width: 200px;
  margin: auto;
  transform: translateY(60px);
  position: relative;
  z-index: 2;
  padding: 30px;
  border-radius: 4px;
  background-color: rgb(55, 55, 55);
}
.salesHits_loading .salesHits__bg {
  border-top: 2px solid rgb(85, 85, 85);
}/*# sourceMappingURL=main.css.map */