@use "default/def";
@use "default/animation";
@use "fonts/fonts";
@use "elements/inner";
@use "elements/header";
@use "elements/footer";
@use "elements/blackoutBlock";
@use "elements/gameV";
@use "elements/gameH";
@use "elements/blockButtonMore";
@use "elements/inputList";
@use "elements/index/carousel";
@use "elements/index/salesHits";
@use "elements/index/banner";
@use "elements/index/games";
@use "elements/index/offers";
@use "elements/game_card/miniGameCard";
@use "elements/game_card/bigImgBlock";
@use "elements/game_card/forScroll";
@use "elements/game_card/mainInfo";
@use "elements/game_card/additions";
@use "elements/game_card/editions";
@use "elements/game_card/information";
@use "elements/game_card/similar";
@use "elements/game_card/fullScreen";
@use "elements/game_card/videoIF";
@use "elements/profile/profile";
@use "elements/profile/settings";
@use "elements/profile/more";
@use "elements/profile/purchase";
@use "elements/catalog/formFilters";
@use "elements/basket/basketContainer";
@use "elements/favorite/favorite";
@use "adaptation/adaptation";