@use '../../default/base';

.favorite {
    position: relative;
    z-index: 2;
    padding: 0 150px 0 150px;
    &__nothing {
        @include base.flex-center;
        flex-direction: column;
        margin: auto;
        width: 200px;
        padding: 50px;
        box-sizing: content-box;
        border-radius: 15px;
        background-color: rgb(55, 55, 55);
        gap: 10px;
        &__text {
            font-weight: 700;
            font-size: 20px;
            color: rgb(100, 100, 100);
        }
        &__link {
            transition: 0.15s;
            cursor: pointer;
            &:hover {
                color: base.$clr-blue_light;
            }
        }
    }
    &__grid {
        display: grid;
        grid-gap: 35px;
        grid-template-columns: repeat(5, minmax(0px, 1fr));
        align-items: center;
        justify-content: space-between;
        &__game {
            // @include base.game_banner_size(280px);
            margin-bottom: 35px;
            &__banner {
                display: block;
                object-fit: cover;
                height: 100%;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                background-size: cover;
                background-color: rgb(55, 55, 55);
                transition: 0.15s;
                cursor: pointer;
                & img {
                    width: 100%;
                }
                &__discount {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    padding: 4px 4px 0 0;
                    border-radius: 0 10px 0 10px;
                    background-color: base.$clr-main_body;
                    cursor: pointer;
                    &__inner {
                        padding: 5px 10px 5px 10px;
                        border-radius: 0 10px 0 10px;
                        background: base.$clr-grad_blue_100;
                        font-family: base.$fnt-all;
                        font-size: 15px;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
            &__info {
                position: relative;
                padding-top: 14px;
                display: flex;
                justify-content: space-between;
                transition: 0.15s;
                &__name {
                    position: relative;
                    z-index: 1;
                    font-family: base.$fnt-all;
                }
                &__price {
                    position: relative;
                    z-index: 2;
                    font-family: base.$fnt-all;
                    font-weight: 700;
                    transition: 0.15s;
                }
                &__buttons {
                    right: 0;
                    left: 0;
                    top: 10px;
                    position: absolute;
                    z-index: 2;
                    display: flex;
                    justify-content: end;
                    transform: translateY(-10px);
                    opacity: 0;
                    transition: 0.15s;
                    background: linear-gradient(to right, rgba(39, 39, 39, 0.2), rgba(39, 39, 39, 1), rgba(39, 39, 39, 1));
                    &__button {
                        position: relative;
                        height: 35px;
                        width: 35px;
                        margin-left: 5px;
                        background: linear-gradient(to bottom, rgba(89, 89, 89, 1), rgba(64, 64, 64, 1));
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        overflow: hidden;
                        transition: 0.15s;
                        & img {
                            height: 18px;
                            filter: invert(1);
                        }
                        &__forHover {
                            opacity: 0;
                            transition: 0.15s;
                            &_blue {
                                background: base.$clr-grad_blue_100;
                            }
                            &_red {
                                background: linear-gradient(to bottom, rgba(255, 73, 73, 1), rgba(167, 0, 0, 1));
                            }
                        }
                        &:hover &__forHover{
                            opacity: 1;
                        }
                        &:active {
                            transform: scale(0.90);
                        }
                    }
                }
            }

            &:hover &__banner{
                transform: scale(1.05);
            }
            &:hover &__info{
                transform: translateY(8px);
            }
            &:hover &__info__buttons{
                transform: translateY(-2px);
                opacity: 1;
            }
            &:hover &__info__price{
                transform: translateX(-85px);
                text-shadow: 0 0 10px base.$clr-main_body;
            }
        }
    }
}