@keyframes open_offers_games {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open_invert {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open_catalog_header {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
	40% {
		opacity: 0;
        transform: translateY(-30px);
	}
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open_blackout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes open_game {
    0% {
        /* transform: translateX(-70px); */
        opacity: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    100% {
        opacity: 1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@keyframes open_totalBlock {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes show_header_auth_block {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes show_notification {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    3% {
        opacity: 1;
        transform: translateY(0px);
    }
    97% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes show_header_button_counter {
    0% {
        transform: translate(35%, -35%) scale(0);
    }
    100% {
        transform: translate(35%, -35%) scale(1);
    }
}

@keyframes update_header_counter_number {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}