// -------- colors --------

$clr-main_body: rgba(39, 39, 39, 1);

$clr-blue_light: rgba(1, 162, 255, 1);
$clr-blue_dark: rgba(1, 74, 255, 1);
$clr-red: rgb(204, 30, 30);
$clr-red_close: rgb(170, 22, 22);

$clr-grad_blue_0: linear-gradient(to bottom, rgba(1, 162, 255, 0), rgba(1, 74, 255, 0));
$clr-grad_blue_100: linear-gradient(to bottom, rgba(1, 162, 255, 1), rgba(1, 74, 255, 1));
$clr-grad_red: linear-gradient(to bottom, rgba(255, 73, 73, 1), rgba(167, 0, 0, 1));

$clr-gray_dark: rgb(27, 27, 27);
$clr-gray_37: rgb(33, 33, 33);
$clr-gray_43: rgb(43, 43, 43);
$clr-gray_47_hover: rgb(47, 47, 47);
$clr-gray_55: rgb(55, 55, 55);

// $lightGray: rgba(45, 45, 45, 1);

// -------- for mixins --------

// -------- style --------

// &__bg {
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     &__top, &__bottom {
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         border-radius: 20px;
//     }
//     &__top {
//         z-index: 2;
//         border: 2px solid rgba(255, 255, 255, .5)
//     }
//     &__bottom {
//         z-index: 1;
//         box-shadow: inset -30px 0px 30px 0px rgba(185, 27, 27, 0.5);
//     }
// }


// -------- fonts --------

$fnt-all: robotoFlex, sans-serif;

// -------- mixins --------

$clr-blue_light_glassShadow: rgba(1, 162, 255, .5);
$shadow_out: 0 5px 10px -2px rgba(0, 0, 0, .2);

@mixin style-glass_circ {
    // border: {
    //     top: 1px solid rgba(255, 255, 255, 0.3);
    //     bottom: 1px solid rgba(255, 255, 255, 0.5);
    // }
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset -10px 0 20px -10px  rgba(255, 255, 255, .3), $shadow_out;
}

@mixin style-glass_circ_hover {
    @include style-glass_circ;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid $clr-blue_light;
        box-shadow: inset 0px -10px 20px 0px $clr-blue_light_glassShadow, $shadow_out;
    }
}

@mixin style-glass_square {
    box-shadow: inset -10px 0 20px -10px  rgba(255, 255, 255, .3), $shadow_out;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

@mixin style-glass_square_hover {
    @include style-glass_square;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid $clr-blue_light;
        box-shadow: inset 0px -10px 20px -10px $clr-blue_light_glassShadow, $shadow_out;
    }
}

@mixin absolute_zero {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
}

@mixin pos_absolute($t, $r, $b, $l) {
    position: absolute;
    right: $r;
    bottom: $b;
    top: $t;
    left: $l;
}

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid($gap, $i) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($i, minmax(0px, 1fr));
}

@mixin game_banner_size($w) {
    width: $w;
    height: calc($w / 0.82);
}