@use 'base';

body {
	background-color: base.$clr-main_body;
	margin: 0;
    overflow-y: scroll; /* Всегда показываем скроллбар */
    // overscroll-behavior: none; /* Запрещаем прокрутку */ // ! не работает на ios < 16
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

div, input {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, main, section {
	padding: 0;
	margin: 0;
}

button {
	border: none;
	background: none;
	display: block;
}

input {
	outline: none;
	border: none;
}

input[type="text"] {
	width: 100%;
	display: block;
	// border: none;
	// outline: none;
}

label {
	display: block;
}

// -------------- classes 

.hidden {
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}

.txt {
	font-family: base.$fnt-all;
	color: white;
	cursor: default;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.absolute-zero{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.fixed-zero{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.def-optimize_img {
    max-width: 100%;
    max-height: 100%;
}