@use 'base';

body {
	background-color: base.$clr-main_body;
	margin: 0;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

div, input {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, main, section {
	padding: 0;
	margin: 0;
}

button {
	border: none;
	background: none;
	display: block;
}

input {
	outline: none;
	border: none;
}

input[type="text"] {
	width: 100%;
	display: block;
	// border: none;
	// outline: none;
}

label {
	display: block;
}

// -------------- classes 

.hidden {
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}

.txt {
	font-family: base.$fnt-all;
	color: white;
	cursor: default;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.absolute-zero{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.fixed-zero{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.def-optimize_img {
    max-width: 100%;
    max-height: 100%;
}

// -------------- animations 

@keyframes open_offers_games {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open_invert {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open_catalog_header {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
	40% {
		opacity: 0;
        transform: translateY(-30px);
	}
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes open_blackout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes open_game {
    0% {
        /* transform: translateX(-70px); */
        opacity: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    100% {
        opacity: 1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@keyframes open_totalBlock {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes show_notification {
    0% {
        visibility: visible;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
        display: none;
    }
}