@use '../../default/base';

.author {
    &__top {
        position: relative;
        z-index: 2;
        border-radius: 20px;
        margin-bottom: 40px;
        @include base.style-main_base_transparent;
        &__head {
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            display: flex;
            align-items: center;
            padding: 30px;
            &__left {
                display: flex;
                align-items: center;
                justify-content: start;
                &__logo {
                    height: 150px;
                    padding-right: 30px;
                    margin-right: 30px;
                    border-right: 1px solid rgba(255, 255, 255, .3);
                    &__imgBlock {
                        height: 150px;
                        width: 150px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & > img {
                            height: 100%;
                            border-radius: 20px;
                        }
                    }
                }   
                &__title {
                    display: flex;
                    flex-direction: column;
                    & > span {
                        font-size: 30px;
                        color: rgb(200, 200, 200);
                    }
                    & > h2 {
                        font-size: 72px;
                        font-weight: 700;
                    }
                }
            }
        }
        &__about {
            padding: 30px;
            & > h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            & > p {
                font-size: 18px;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__series {
        margin-bottom: 50px;
    }
    &__games {
        & .switch__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            &__left {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
            }
        }
        &__grid {
            display: none;
            &_active {
                display: grid;
            }   
        }
    }
}