@use '../../default/base';

.series {
    &__head {
        width: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        padding-top: 0px;
        text-shadow: 0 0 50px rgba(0, 0, 0, .55);
        margin-bottom: 20px;
        & > span {
            font-size: 36px;
        }
        & > h2 {
            font-size: 96px;
        }
    }
    &__about {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-bottom: 40px;
        transition: .4s;
        &__block {
            max-height: 1000px;
            padding: 20px 23px;
            overflow: hidden;
            border-radius: 20px;
            transition: .4s;
            cursor: pointer;
            @include base.style-main_base;
            & > h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            & > p {
                font-size: 18px;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__gradient {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0px;
            transition: .2s;
            cursor: pointer;
            background: linear-gradient(to top, base.$clr-main_body, transparent);
        }
        &__buttonBlock {
            position: absolute;
            z-index: 2;
            top: 0;
            height: 100%;
            right: -55px;
            display: flex;
            align-items: end;
            transition: .3s;
            & > button {
                height: 45px;
                width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                transition: .2s;
                @include base.style-main_click;
                & > svg {
                    transition: .2s;
                    transform: rotate(270deg);
                }
            }
        }
        &_hidden {
            // margin-bottom: 50px;
        }
        &_hidden &{
            &__block {
                max-height: 150px;
                box-shadow: 0 0 0 transparent;
                color: rgb(180, 180, 180);
                // opacity: .8;
            }
            &__buttonBlock {
                height: 45px;
                // align-items: start;
                & > button {
                    & > svg {
                        transform: rotate(90deg);
                    }
                }
            }
            &__gradient {
                height: 50px;
            }
        }
    }
    &__games {
        &__head {
            margin-bottom: 20px;
        }
        &__grid {
            @include base.grid(35px, 3);
        }
    }
}