.bigImgBlock {
    position: relative;
    z-index: 1;
    height: 550px;
    overflow: hidden;
    margin-bottom: -380px;
    transform: translateY(0px);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    // &__bg {
    //     position: absolute;
    //     top: -3px;
    //     z-index: 2;
    //     bottom: 0;
    //     right: 0;
    //     left: 0;
    //     background-color: base.$colorBody;
    //     opacity: 0;
    // }
    // &__border {
    //     position: absolute;
    //     z-index: 1;
    //     bottom: 0;
    //     right: 0;
    //     left: 0;
    // }
    & img {
        position: relative;
        z-index: 1;
        width: 100%;
    }
    // &__title {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     position: absolute;
    //     top: 125px;
    //     left: 0;
    //     right: 0;
    //     z-index: 2;
    //     font-size: 58px;
    //     text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    //     font-weight: 700;
    // }
    &_loading {
        background-color: rgb(55, 55, 55);
    }
}