@use '../../default/base';

.editions {
    position: relative;
    z-index: 3;
    margin: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 15px;
        gap: 10px;
        &__nav {
            position: relative;
            padding: 12px 16px 12px 16px;
            cursor: pointer;
            border-radius: 23px;
            background-color: rgba(255, 255, 255, .05);
            @include base.style-main_click;
            transition: .2s;
            &__text {
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            &_active {
                @include base.style-main_active;
                &:hover {
                    @include base.style-main_active;
                }
            }
            &:active {
                transform: scale(.95);
            }
        }
    }
    &__grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(0px, 1fr));
        &__edition {
            cursor: pointer;
            transition: 0.15s;
            &__imgBlock {
                width: 100%;
                padding: 10px;
                position: relative;
                z-index: 1;
                transition: .2s;
                & > img {
                    box-sizing: border-box;
                    border-radius: 12px;
                    width: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.1);
                    transition: 0.15s;
                }
            }
            &__info {
                // display: flex;
                // justify-content: space-between;
                position: relative;
                z-index: 3;
                margin-top: -45px;
                border-radius: 15px;
                padding: 5px 7px 7px 12px;
                @include base.style-main;
                // background-color: rgba(255, 255, 255, .05);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                transition: .2s;
                // &__left {
                //     &__title {
                //         font-size: 18px;
                //         font-weight: 600;
                //         cursor: pointer;
                //     }
                //     &__price {
                //         color: rgb(200, 200, 200);
                //         font-size: 18px;
                //         font-weight: 400;
                //         cursor: pointer;
                //     }
                // }
                &__title {
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                }
                &__price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    & > span {
                        color: rgb(200, 200, 200);
                        font-size: 18px;
                        font-weight: 400;
                    }
                    &__percent {
                        // height: 24px;
                        // width: 50px;
                        padding: 3px 7px;
                        // border: 2px solid rgb(100, 100, 100);
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        @include base.style-percentBlock;
                        font-size: 16px;
                        font-weight: 600;
                        transform: translateY(-1px);
                    }
                }
                // &__percent {
                //     height: 50px;
                //     width: 50px;
                //     padding: 10px;
                //     // border: 2px solid rgb(100, 100, 100);
                //     border-radius: 10px;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     cursor: pointer;
                //     @include base.style-glass;
                //     background-color: rgba(255, 255, 255, .05);
                //     & > span {
                //         font-size: 16px;
                //         font-weight: 600;
                //         transform: translateY(-1px);
                //     }
                //     &_active {
                //         border: 2px solid base.$clr-blue_light;
                //     }
                // }
            }
            
            &:hover &{
                &__imgBlock  {
                    transform: translateY(-19px);
                }
                &__info {
                    transform: translateY(19px);
                }
            }
            &:active &__imgBlock  {
                    transform: translateY(-19px) scale(0.95);
            }
            &_active {
                cursor: default;
            }
            &_active &__info {
                // background-color: rgba(53, 118, 255, 0.4);
                // border: 1px solid base.$clr-blue_light;
                // box-shadow: 0 0 10px -2px rgba(1, 162, 255, 0.5);
                // @include base.style-glass_active;
                cursor: default;
                & * {
                    cursor: default;
                }
                @include base.style-main_active;
            }
            &_active:hover &{
                &__imgBlock  {
                    transform: translateY(0px);
                }
                &__info {
                    transform: translateY(0px);
                }
            }


            &_active &__info__left__price {
                cursor: default;
            }
            &_active &__info__left__title {
                cursor: default;
            }
            &_active &__info__percent {
                cursor: default;
            }
        }
        &_loading {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }
        &_loading > a {
            display: none;
        }
        &_loading > .loadingBlock {
            width: 10%;
            min-width: 200px;
            padding: 30px;
            border-radius: 5px;
            background-color: rgb(55, 55, 55);
        }
    }
}