@use '../../default/base';

.mainInfo {
    position: relative;
    z-index: 3;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    transform: translateY(0px) scale(1);
    opacity: 1;
    transition: 0.2s;
    &__banner {
        position: relative;
        width: 700px;
        height: 400px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.15);
        &__imgBlock {
            width: 100%;
            height: 100%;
            overflow: hidden;
            & img {
                width: 100%;
            }
        }
        &__visual {
            position: relative;
            z-index: 1;
        }
        &__interface {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            background-color: transparent;
            transition: .2s;
            &__top {
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__rating {
                    display: flex;
                    gap: 10px;
                }
                &__point {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    padding: 5px 8px;
                    border-radius: 7px;
                    font-family: base.$fnt-all;
                    font-size: 15px;
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    transition: .15s;
                    @include base.style-main;
                    background-color: rgba(0, 0, 0, .3);
                    &_steam {
                        background-color: rgba(19, 77, 153, 0.3);
                    }
                    &_metacritic {
                        background-color: rgba(16, 168, 84, 0.3);
                    }
                    &__key {
                        font-weight: 700;
                    }
                    // &__value {
                    // }
                }
            }
            &__bottom {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                overflow-y: auto;
                background: linear-gradient(to top, rgba(0, 0, 0, .5), transparent);
                opacity: 0;
                transform: translateY(20px);
                transition: .2s;
                &::-webkit-scrollbar {
                    height: 10px;
                }
                &::-webkit-scrollbar-track {
                    background: rgba(92, 92, 92, 0.8); /* Цвет фона трека */
                    // border-radius: 10px;
                    // margin-left: 10px;
                    // margin-right: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(255, 255, 255, .2); /* Цвет ползунка */
                    border-radius: 10px;
                    &:hover {
                        background: rgba(255, 255, 255, .2);
                    }
                }
                &__medialist {
                    display: flex;
                    width: max-content;
                    gap: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    &__media {
                        width: 140px;
                        height: 82px;
                        border-radius: 10px;
                        // background-color: rgba(255, 255, 255, .5);
                        border: 2px solid transparent;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        transition: .2s;
                        cursor: pointer;
                        & > * {
                            width: 100%;
                        }
                        &:hover {
                            transform: scale(1.05);
                        }
                        &:active {
                            transform: scale(.95);
                        }
                        &_active {
                            border-color: base.$clr-blue_light;
                            &:hover {
                                transform: scale(1);
                            }
                            &:active {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
            &:hover {
                background-color: rgba(0, 0, 0, .3);
            }
            &:hover &__bottom {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        &_loading {
            animation: loading_block 1.5s ease infinite;
        }
        &_loading > &__playButton {
            display: none;
        }
        &_loading > &__treilerBlock {
            display: none;
        }
    }
    &__info {
        width: 500px;
        align-self: flex-end;
        border-radius: 20px;
        padding: 20px;
        padding-top: 12px;
        @include base.style-main_base;
        box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.3);
        &__title {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &__category {
            display: flex;
            gap: 7px;
            flex-wrap: wrap;
            &__nav {
                background-color: rgba(0, 0, 0, 0.2);
                position: relative;
                z-index: 2;
                border-radius: 7px;
                height: 36px;
                width: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid rgba(255, 255, 255, 0);
                transition: 0.15s;
                cursor: pointer;
                & img {
                    width: 24px;
                    filter: invert(1);
                }
                &__forHover {
                    visibility: hidden;
                    position: absolute;
                    left: -100px;
                    right: -100px;
                    top: 42px;
                    display: flex;
                    justify-content: center;
                    opacity: 0;
                    transition: 0.15s;
                    &__text {
                        border-radius: 7px;
                        background-color: rgb(67, 67, 67);
                        padding: 5px;
                        border: 2px solid rgba(255, 255, 255, 0.2);
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                &:hover &__forHover{
                    opacity: 1;
                    visibility: visible;
                }
                &:hover { 
                    z-index: 5;
                    border: 2px solid rgba(255, 255, 255, 0.2);
                }
            }
            &__point {
                @include base.style-main_click;
                border-radius: 13px;
                padding: 3px 10px;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
                & > span {
                    color: rgb(200, 200, 200);
                    margin-right: 5px;
                }   
            }
        }
        &__interactions {
            margin-top: 20px;
            &__top {
                display: flex;
                gap: 12px;
                height: 70px;
                margin-bottom: 12px;
            }
            &__bottom {
                display: flex;
                gap: 12px;
                height: 70px;
            }
            &__percent {
                width: 108px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                border-radius: 15px;
                font-size: 26px;
                font-weight: 600;
                @include base.style-main;
            }
            &__price {
                flex-grow: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px; //! 10 old
                font-size: 26px;
                font-weight: 600;
                @include base.style-main;
                & span {
                    color: #A7A7A7;
                    margin-left: 5px;
                }
                & span:nth-child(2) {
                    font-size: 16px;
                    transform: translateY(3px);
                    text-decoration: line-through;
                }
            }
            &__button {
                height: 100%;
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                cursor: pointer;
                transition: 0.15s;
                @include base.style-main_click;
                & img {
                    height: 38px;
                    filter: invert(1);
                }
                &_active {
                    
                }
            }
            &__buttonBuy {
                flex-grow: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                @include base.style-primaryBTN;
                & .-text {
                    font-size: 26px;
                    font-weight: 600;
                }
            }
        }
        &_loading &__title{
            height: 26px;
            width: 60%;
            border-radius: 3px;
            animation: loading_block 1.5s ease infinite;
        }
        &_loading &__category{
            height: 26px;
            width: 45%;
            border-radius: 3px;
            animation: loading_block 1.5s ease infinite;
        }
        &_loading &__category__nav{
            display: none;
        }
        &_loading &__interactions__top{
            height: 70px;
            width: 100%;
            border-radius: 4px;
            animation: loading_block 1.5s ease infinite;
        }
        &_loading &__interactions__top > *{
            display: none;
        }
        &_loading &__interactions__bottom{
            height: 70px;
            width: 100%;
            border-radius: 4px;
            animation: loading_block 1.5s ease infinite;
        }
        &_loading &__interactions__bottom > *{
            display: none;
        }
    }
    &_hidden {
        opacity: 0;
        transform: translateY(-100px) scale(0.6);
    }
}