@use '../../default/base';

.similar {
    position: relative;
    z-index: 3;
    margin: auto;
    width: 100%;
    margin-top: 50px;
    & > h3 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 25px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 20px;
        gap: 10px;
        &__nav {
            position: relative;
            padding: 12px 16px 12px 16px;
            cursor: pointer;
            border-radius: 23px;
            background-color: rgba(255, 255, 255, .05);
            @include base.style-main_click;
            transition: .2s;
            &__text {
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            &_active {
                @include base.style-main_active;
                &:hover {
                    @include base.style-main_active;
                }
            }
            &:active {
                transform: scale(.95);
            }
        }
    }
    &__grid {
        display: none;
        grid-gap: 35px;
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        align-items: center;
        justify-content: space-between;
        animation: open_offers_games .3s base.$tf-main 1;
        &_active {
            display: grid;
        }
    }
    &_loading {
        display: none;
    }
}