@use '../../default/base';

.videoIF {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    animation: open .25s base.$tf-main 1;
    &__button {
        height: 35px;
        width: 35px;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border-radius: 50%;
        transition: .15s;
        cursor: pointer;
        @include base.style-main_click;
        & > svg {
            width: 100%;
            height: 100%;
        }
    }
    &__raceBlock {
        width: calc(100% - 245px);
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 35px;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    &__race {
        position: relative;
        width: 100%;
        height: 12px;
        border-radius: 6px;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        @include base.style-main;
        overflow: hidden;
        &__mouse {
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 0; 
            bottom: 0;
            left: 0;
            width: 0%;
            background-color: rgba(255, 255, 255, .3);
            border-radius: 6px;
            transition: opacity .15s;
        }
        &__value {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 0%;
            border-radius: 6px;
            @include base.style-main_active;
            border: none;
        }
        &__time {
            position: relative;
            display: flex;
            align-items: end;
            justify-content: space-between;
            &__point {
                font-size: 12px;
                &_hover {
                    position: absolute;
                    padding: 2px 5px;
                    border-radius: 5px;
                    left: 50%;
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    opacity: 0;
                    transition: opacity .15s, transform .2s;
                    transform: translateX(-50%);
                    @include base.style-main;
                    &_active {
                        opacity: 1;
                    }
                }
            }
        }
        &:hover &{
            &__mouse {
                opacity: 1;
            }
        }
    }
    &__volume {
        height: 35px;
        width: 100px;
        position: relative;
        
        display: flex;
        align-items: center;
        &__race {
            height: 100%;
            width: 100%;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            @include base.style-main;
            overflow: hidden;
            padding-left: 7px;
            padding-right: 10px;
            border-radius: 17.5px;
            display: flex;
            align-items: center;
            justify-content: start;
            &__mouse {
                opacity: 0;
                position: absolute;
                z-index: 2;
                top: 0; 
                bottom: 0;
                left: 0;
                width: 0%;
                background-color: rgba(255, 255, 255, .3);
                border-radius: 6px;
                transition: opacity .15s;
            }
            &__value {
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 0%;
                border-radius: 6px;
                @include base.style-main_active;
                border: none;
            }
            &__forMouse {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 5;
            }
            &__num {
                position: relative;
                z-index: 4;
                transform: translateY(-1px);
                font-size: 12px;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
            &:hover &__mouse{
                opacity: 1;
            }
        }
        // & ._volume_muted {
        //     display: none;
        // }
        // & ._volume_on {
        //     display: block;
        // }
        &__icon {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & svg {
                position: relative;
                z-index: 4;
                height: 20px;
                animation: open .2s base.$tf-main 1;
                & > g > g {
                    fill: #fff;
                    transition: .15s;
                }
                &._volume_muted {
                    display: none;
                }
                &._volume_on {
                    display: block;
                }
            }
            &:hover svg {
                & > g > g {
                    fill: base.$clr-blue_light;
                }
            }
        }
        &_muted &__icon > svg{
            &._volume_muted {
                display: block;
            }
            &._volume_on {
                display: none;
            }
        }
    }
    &__playButton {
        padding: 10px;
        overflow: hidden;
        position: relative;
        z-index: 2;
        & > svg {
            animation: open .2s base.$tf-main 1;
        }
        & > ._pause {
            display: none;
        }
        & > ._play {
            display: block;
        }
        &_pause {
            & > ._pause {
                display: block;
            }
            & > ._play {
                display: none;
            }
        }
    }
    &__buttonTglScrList {
        padding: 4px;
        & > svg {
            transition: .2s;
            transform: rotate(90deg);
        }
        &_closed {
            & > svg {
                transform: rotate(270deg);
            }
        }
    }
    &_hidden {
        display: none;
    }
}