@use '../default/base';

.blockButtonMore {
        display: flex;
        justify-content: end;
        margin-top: 30px;
        &__button {
            display: flex;
            align-items: center;
            cursor: pointer;

            padding: 12px 12px 12px 16px;
            border-radius: 22px;
            background-color: rgba(255, 255, 255, .05);
            @include base.style-glass_hover;
            transition: .2s;
            & > span {
                display: block;
                font-family: base.$fnt-all;
                font-size: 16px;
                font-weight: 400;
                transform: translateY(-1px);
                transition: .2s;
            }
            & > svg {
                margin-left: 5px;
                height: 24px;
                opacity: 0.8;
                transform: translateY(1px) translateX(0px);
                transition: 0.15s;
            }
            &:hover > svg{
                opacity: 0;
                transform: translateY(1px) translateX(20px);
            }
            &:hover > span{
                transform: translateY(-1px) translateX(13px);
            }
            &:active {
                transform: scale(.95);
            }
        }
    }