@use '../default/base';

.gameH {
    display: block;
    &__banner {
        height: 222px;
        display: block;
        position: relative;
        border-radius: 15px;
        background-size: cover;
        transition: 0.15s;
        cursor: pointer;
        overflow: hidden;
        animation-timing-function: base.$tf-main;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
        border: 1px solid rgba(255, 255, 255, .15);
        &__imgBlock {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            opacity: 1;
            transition: 0.15s;
            & > img {
                border-radius: 10px;
                height: 100%;
            }
        }
        &__videoBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            // background-color: rgb(0, 0, 0);
            // background: linear-gradient(to bottom, base.$clr-main_body, rgb(0, 0, 0), rgb(0, 0, 0), base.$clr-main_body);
            background-color: rgba(0, 0, 0, .2);
            transition: 0.15s;
            & video {
                width: 100%;
                display: none;
            }
        }
        &__discount {
            position: absolute;
            z-index: 4;
            bottom: 8px;
            right: 8px;
            padding: 5px 8px 5px 8px;
            border-radius: 7px;
            cursor: pointer;
            transition: .15s;
            opacity: 1;
            font-family: base.$fnt-all;
            font-size: 15px;
            font-weight: 700;
            @include base.style-percentBlock;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
        &__info {
            position: absolute;
            z-index: 4;
            bottom: 8px;
            right: 8px;
            left: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // &__left {

            // }
            &__right {
                display: flex;
                justify-content: end;
                gap: 5px;
            }
            &__point {
                padding: 5px 8px;
                border-radius: 7px;
                cursor: pointer;
                opacity: 1;
                font-family: base.$fnt-all;
                font-size: 15px;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                transition: .15s;
                &_discount {
                    font-weight: 700;
                    @include base.style-percentBlock;
                }
                &_preOrder {
                    & > span {
                        font-weight: 700;
                        margin-right: 7px;
                    }
                }
                &_more {
                    @include base.style-main_transparent;
                }
            }
        }
    }
    &__info {
        position: relative;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        transition: 0.15s;
        &__left {
            min-width: 0;
        }
        &__right {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            min-width: max-content;
        }
        &__name {
            position: relative;
            z-index: 1;
            font-family: base.$fnt-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__price {
            position: relative;
            z-index: 2;
            font-family: base.$fnt-all;
            font-weight: 700;
            // transform: translateX(-100%);
            transition: 0.15s;
        }
        &__buttons {
            z-index: 2;
            display: flex;
            justify-content: end;
            gap: 5px;
            opacity: 0;
            transform: translateY(-15px);
            // margin-left: -100%;
            max-width: 0;
            overflow: hidden;
            transition: 0.15s;
            &__button {
                position: relative;
                height: 32px;
                width: 32px;
                z-index: 2;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                overflow: hidden;
                // transform: scale(0);
                transition: 0.15s;
                & img {
                    height: 18px;
                    filter: invert(1);
                }
                @include base.style-main_click;
            }
        }
    }

    &_headerCatalog &{
        &__banner {
            height: 173px;
            &__info {
                &__point {
                    font-size: 14px;
                    padding: 4px 7px;
                }
            }
        }
        &__info {
            &__right {
                gap: 7px;
            }
            &__name {
                font-size: 15px;
            }
            &__price {
                font-size: 15px;
            }
            &__buttons {
                background: transparent;
                &__button {
                    height: 30px;
                    width: 30px;
                    border-radius: 6px;
                    & img {
                        height: 17px;
                    }
                }
            }
        }
    }
    &_headerCatalog {
        opacity: 0;
        transform: translateY(-10px);
        transition: transform .4s, opacity .4s;
    }

    &_open {
        // transition: .2s;
        opacity: 1;
        transform: translateY(0px);
        &:nth-child(1) {
            transition-delay: 0s;
        }
        &:nth-child(2) {
            transition-delay: .05s;
        }
        &:nth-child(3) {
            transition-delay: .1s;
        }
        &:nth-child(4) {
            transition-delay: .2s;
        }
        &:nth-child(5) {
            transition-delay: .25s;
        }
    }

    &:hover &{
        &__banner {
            transform: scale(1.05);
            &__info__point {
                opacity: 0;
            }
            &__videoBlock {
                opacity: 1;
                transition-delay: 1s;
                & video {
                    display: block;
                    transition-delay: 1s;
                }
            }
            &__imgBlock {
                opacity: 0;
                transition-delay: 1s;
            }
        }
        &__info {
            transform: translateY(7px);
            &__right {
                margin-left: 0px;
            }
            &__buttons {
                // margin-left: 0px;
                opacity: 1;
                transform: translateY(0px);
                max-width: 200px;
                &__button {
                    // transform: scale(1);
                }
            }
            &__price {
                transform: translateX(0);
                text-shadow: 0 0 10px base.$clr-main_body;
            }
        }
    }
}