.inner {
    padding-top: 100px;
    margin: auto;
    &_oneSec {
        width: 1400px;
        padding-top: 100px;
        display: block;
    }
    &_footer {
        max-width: 1905px;
        margin: auto;
    }
    &_profile {
        width: 1200px;
        margin: auto;
        padding-top: 120px;
    }
    &_main {
        padding-top: 0;
        width: 1605px;
    }
    &_catalog {
        padding-top: 100px;
        width: 1405px;
    }

    &_game {
        width: 1220px;
        padding-top: 0;
    }
    &_index {
        width: 1605px;
        padding-top: 100px;
    }
}