@use '../default/base';

$-height: 40px;
$-border_radius: 12px;

.inputList {
    height: $-height;
    border-radius: $-border_radius;
    position: relative;
    z-index: 1;
    min-width: 220px;
    &__header {
        max-width: 100%;
        position: relative;
        height: inherit;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $-border_radius;
        cursor: pointer;
        transition: .2s;
        @include base.style-main;
        & > * {
            position: relative;
            z-index: 1;
        }
        &__left {
            font-size: 14px;
            display: flex;
            min-width: 0;
            &__title {
                font-weight: 700;
                min-width: max-content;
            }
            &__value {
                margin-left: 5px;
                color: base.$clr-blue_light;
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            & > svg {
                width: 22px;
                height: 22px;
                transition: .2s;
                transform: rotate(90deg);
            }
        }
        &__reset {
            position: absolute;
            z-index: 6;
            right: 30px;
            padding: 2px;
            // background-color: rgba(255, 255, 255, .1);
            // border: 1px solid rgba(255, 255, 255, .2);
            // border-radius: 5px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: .2s;
            & > svg {
                position: relative;
                z-index: 1;
                width: 24px;
                height: 24px;
                & > path {
                    transition: .2s;
                }
            }
            &__click {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 2;
            }
            &:hover > svg > path{
                stroke: base.$clr-blue_light;
            }
        }
        &__click {
            position: absolute;
            top: 0; right: 0;
            left: 0; bottom: 0;
            z-index: 5;
            cursor: pointer;
        }
        &:hover {
            @include base.style-main_hover;
        }
        &:hover &{
            &__reset {
                opacity: 1;
            }
            &__left {
                &__value {
                    padding-right: 24px;
                }
            }
        }
    }
    &__body {
        position: absolute;
        top: $-height;
        width: 100%;
        border-radius: 0px 0px $-border_radius $-border_radius;
        overflow: hidden;
        transition: .2s;

        max-height: 0px;
        opacity: 0;
        @include base.style-main_base;
        border-top: none;
        &__search {
            padding: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            & > input {
                display: block;
                font-size: 14px;
                border-radius: 5px;
                padding: 2px 5px;
                cursor: text;
                @include base.style-main;
                &:focus {
                    @include base.style-main_active;
                }
            }
        }
        &__interval {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            padding: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            &__values {
                display: flex;
                align-items: center;
                gap: 2px;
                flex-grow: 1;
                min-width: 0;
                & > input {
                    min-width: 0;
                    display: block;
                    font-size: 14px;
                    border-radius: 5px;
                    padding: 2px 5px;
                    flex-grow: 1;
                    cursor: text;
                    -moz-appearance: textfield;
                    appearance: textfield;
                    @include base.style-main;
                    &:focus {
                        @include base.style-main_active;
                    }
                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                & > span {
                    display: block;
                    width: 4px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255 ,.2);
                    flex-shrink: 0;
                }
            }
            &__button {
                padding: 2px 5px;
                border-radius: 5px;
                font-size: 14px;
                flex-shrink: 0;
                @include base.style-main_click;
            }
        }
        &__list {
            max-height: calc(200px - 36px);
            display: flex;
            flex-direction: column;
            // gap: 5px;
            // padding: 5px;
            // padding-bottom: 0px;
            overflow: auto;
            // @include base.style-webkit_scrollbar;
            &::-webkit-scrollbar {
                width: 0;
            }
            &__point {
                position: relative;
                padding: 2px 5px;
                border-radius: 5px;
                font-size: 14px;
                display: flex;
                align-items: center;
                max-height: 50px;
                // margin-bottom: 5px;
                margin: 2.5px 5px 2.5px 5px;
                @include base.style-main_click;
                background-color: rgb(60, 60, 60);
                &:first-child {
                    margin-top: 5px;
                }
                &:last-child {
                    margin-bottom: 5px;
                }
                &__click {
                    position: absolute;
                    top: 0; bottom: 0; right: 0; left: 0;
                    z-index: 3;
                }
                &__mark {
                    position: relative;
                    z-index: 1;
                    height: 10px;
                    width: 0;
                    margin-right: 0;
                    transition: .2s;
                    border-radius: 2px;
                    background-color: base.$clr-blue_light;
                }
                &__title {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // &__text {

                    // }
                    & ._sorting {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & > svg {
                            width: 14px;
                            height: 14px;
                        }
                        // &_onTop {
                        //     transform: rotate(0deg);
                        // }
                        &_onBottom {
                            transform: rotate(180deg);
                        }
                    }
                }
                &_active {
                    @include base.style-main_active;
                }
                &_hidden {
                    opacity: 0;
                    max-height: 0px;
                    border-bottom: none;
                    border-top: none;
                    pointer-events: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 0;
                    margin-top: 0;
                    overflow: hidden;
                }
            }
        }
    }
    & > input {
        display: none;
    }
    &_open {
        z-index: 3;
    }
    &_open &{
        &__header {
            border-radius: $-border_radius $-border_radius 0px 0px;
            &__icon > svg {
                transform: rotate(-90deg);
            }
        }
        &__body {
            max-height: 200px;
            opacity: 1;
        }
    }
    &_multiple &{
        &__body__list__point_active > .inputList__body__list__point__mark { 
            width: 4px;
            margin-right: 5px;
        }
    }
    // &_single &{
    //     &__body__list__point_active {
            
    //     }
    // }
}