@use '../default/base';

$-height: 40px;
$-border_radius: 12px;

// .inputList {
//     height: $-main-height;
//     position: relative;
//     z-index: 2;
//     width: 100%;
//     & input {
//         display: block;
//         box-sizing: border-box;
//         height: $-main-height;
//         width: 100%;
//         border-radius: $-main-border_radius;
//         // @include base.style-main;
//         font-size: 14px;
//         outline: none;
//         cursor: text;
//         transition: 0.1s;
//         // &:focus {
//         //     @include base.style-main_hover;
//         // }
//     }
//     & > input {
//         position: relative;
//         z-index: 1;
//         background: none;
//         visibility: hidden;
//     }
//     &__list {
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         left: 0;
//         z-index: 3;
//         &__header {
//             position: relative;
//             z-index: 2;
//             height: $-main-height;
//             cursor: pointer;
//             // background-color: transparent;
//             transition: .2s;
//             border-radius: $-main-border_radius;
//             display: flex;
//             align-items: center;
//             padding-left: 12px;
//             gap: 5px;
//             overflow: hidden;
//             @include base.style-main;
//             background-color: rgb(61, 61, 61);
//             &__title {
//                 position: relative;
//                 z-index: 3;
//                 font-size: 14px;
//                 cursor: pointer;
//                 min-width: max-content;
//             }
//             &__values {
//                 position: relative;
//                 font-size: 14px;
//                 color: base.$clr-blue_light;
//                 z-index: 1;
//                 width: 100%;
//                 overflow: hidden;
//                 white-space: nowrap;
//                 cursor: pointer;
//             }
//             &__bg {
//                 position: absolute;
//                 top: 0;
//                 bottom: 0;
//                 left: 0;
//                 right: 0;
//                 z-index: 2;
//                 display: flex;
//                 align-items: center;
//                 justify-content: end;
//                 padding-right: 12px;
//                 background: linear-gradient(to right, transparent 60%, rgb(61, 61, 61) 80%);
//                 & > svg {
//                     position: relative;
//                     height: 24px;
//                     transform: rotate(90deg);
//                     transition: .2s;
//                     z-index: 3;
//                 }
//             }
//             &:hover {
//                 background-color: rgb(70, 70, 70);
//             }
//         }
//         &__body {
//             display: none;
//             position: relative;
//             z-index: 1;
//             width: 100%;
//             border-radius: 0px 0px $-main-border_radius $-main-border_radius;
//             @include base.style-main;
//             background-color: rgba(68, 68, 68, .8);
//             -webkit-backdrop-filter: blur(10px);
//             backdrop-filter: blur(10px);
//             border-top: none;
//             padding-top: 7px;
//             padding-bottom: 7px;
//             padding-right: 7px;
//             padding-left: 7px;
//             animation: open .25s base.$tf-main 1;
//             &__search {
//                 margin-bottom: 5px;
//                 & > input {
//                     height: 35px;
//                     font-size: 14px;
//                     border-radius: 10px;
//                     padding-left: 14px;
//                     @include base.style-main;
//                     &:focus {
//                         @include base.style-main_hover;
//                     }
//                 }
//             }
//             &__numbers {
//                 display: flex;
//                 align-items: center;
//                 gap: 5px;
//                 margin-bottom: 5px;
//                 & > input {
//                     width: 50%;
//                     height: 35px;
//                     font-size: 14px;
//                     border-radius: 10px;
//                     padding-left: 14px;
//                     @include base.style-main;
//                     &:focus {
//                         @include base.style-main_hover;
//                     }
//                 }
//                 &__separator {
//                     width: 12px;
//                     height: 4px;
//                     background-color: rgba(255, 255, 255, 1);
//                     border-radius: 2px;
//                 }
//             }
//             &__points {
//                 display: flex;
//                 flex-direction: column;
//                 width: 100%;
//                 max-height: 210px;
//                 overflow: auto;

//                 // scrollbar-width: thin; /* auto | thin | none */
//                 // scrollbar-color: rgba(255, 255, 255, .15) rgba(0, 0, 0, .15);
//                 // &::-webkit-scrollbar {
//                 //     width: 8px;
//                 // }
//                 // &::-webkit-scrollbar-track {
//                 //     background: rgba(0, 0, 0, .15); /* Цвет фона трека */
//                 //     border-radius: 10px;
//                 // }
//                 // &::-webkit-scrollbar-thumb {
//                 //     background: rgba(255, 255, 255, .15); /* Цвет ползунка */
//                 //     border-radius: 10px;
//                 //     &:hover {
//                 //         background: rgba(255, 255, 255, .2);
//                 //     }
//                 // }
//                 @include base.style-webkit_scrollbar;
//                 &__point {
//                     position: relative;
//                     padding-left: 8px;
//                     padding-top: 5px;
//                     padding-bottom: 5px;
//                     border-radius: 8px;
//                     cursor: pointer;
//                     transition: .15s;
//                     border: 1px solid transparent;
//                     &__checkBlock {
//                         position: absolute;
//                         z-index: 1;
//                         left: -8px;
//                         top: 50%;
//                         transform: translateY(-50%);
//                         width: 4px;
//                         height: 20px;
//                         border-radius: 5px;
//                         opacity: 0;
//                         transition: .2s;
//                         transition-timing-function: base.$tf-main;
//                         @include base.style-main_active;
//                         box-shadow: 5px 0 15px base.$clr-blue_light;
//                     }
//                     &__value {
//                         position: relative;
//                         z-index: 2;
//                         display: block;
//                         transition: .15s;
//                         transition-timing-function: base.$tf-main;
//                         font-size: 14px;
//                     }
//                     &:hover {
//                         // background-color: #555;
//                         background-color: rgba(255, 255, 255, .1);
//                     }
//                     &_hidden {
//                         // display: none;
//                         height: 0;
//                         opacity: 0;
//                         padding: 0;
//                         overflow: hidden;
//                         border: 0px solid transparent;
//                         // transform: translateY(20px);
//                     }
//                     &_check &{
//                         &__value {
//                             padding-left: 10px;
//                             // color: base.$clr-blue_light;
//                         }
//                         &__checkBlock {
//                             opacity: 1;
//                             left: 5px;
//                         }
//                     }
//                     &_active {
//                         @include base.style-main_active;
//                         cursor: default;
//                         &:hover {
//                             @include base.style-main_active;
//                         }
//                     }
//                 }
//             }
//             &__button {
//                 width: 100%;
//                 padding-top: 5px;
//                 padding-bottom: 5px;
//                 font-size: 14px;
//                 text-align: center;
//                 border-radius: 8px;
//                 @include base.style-main_click;
//             }
//         }
//     }

//     &_open &{
//         &__list {
//             &__header {
//                 border-radius: $-main-border_radius $-main-border_radius 0px 0px;
//                 &__bg > svg {
//                     transform: rotate(270deg);
//                 }
//             }
//             &__body {
//                 display: block;
//             }
//         }
//     }
//     &_open {
//         z-index: 4;
//         & > input {
//             border-radius: $-main-border_radius $-main-border_radius 0px 0px;
//         }
//     }
// }

.inputList {
    height: $-height;
    border-radius: $-border_radius;
    position: relative;
    z-index: 1;
    width: 250px;
    &__header {
        position: relative;
        height: inherit;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $-border_radius;
        cursor: pointer;
        transition: .2s;
        @include base.style-main_base;
        & > * {
            position: relative;
            z-index: 1;
        }
        &__left {
            font-size: 14px;
            display: flex;
            min-width: 0;
            &__title {
                font-weight: 700;
            }
            &__value {
                margin-left: 5px;
                color: base.$clr-blue_light;
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            & > svg {
                width: 22px;
                height: 22px;
                transition: .2s;
                transform: rotate(90deg);
            }
        }
        &__click {
            position: absolute;
            top: 0; right: 0;
            left: 0; bottom: 0;
            z-index: 5;
            cursor: pointer;
        }
        &:hover {
            @include base.style-main_hover;
        }
    }
    &__body {
        position: absolute;
        top: $-height;
        width: 100%;
        border-radius: 0px 0px $-border_radius $-border_radius;
        overflow: hidden;
        transition: .2s;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        max-height: 0px;
        opacity: 0;
        @include base.style-main;
        
        &__search {
            padding: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            & > input {
                display: block;
                font-size: 14px;
                border-radius: 5px;
                padding: 2px 5px;
                cursor: text;
                @include base.style-main;
                &:focus {
                    @include base.style-main_active;
                }
            }
        }
        &__interval {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            padding: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            &__values {
                display: flex;
                align-items: center;
                gap: 2px;
                flex-grow: 1;
                min-width: 0;
                & > input {
                    min-width: 0;
                    display: block;
                    font-size: 14px;
                    border-radius: 5px;
                    padding: 2px 5px;
                    flex-grow: 1;
                    cursor: text;
                    -moz-appearance: textfield;
                    appearance: textfield;
                    @include base.style-main;
                    &:focus {
                        @include base.style-main_active;
                    }
                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                & > span {
                    display: block;
                    width: 4px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255 ,.2);
                    flex-shrink: 0;
                }
            }
            &__button {
                padding: 2px 5px;
                border-radius: 5px;
                font-size: 14px;
                flex-shrink: 0;
                @include base.style-main_click;
            }
        }
        &__list {
            max-height: calc(200px - 36px);
            display: flex;
            flex-direction: column;
            // gap: 5px;
            padding: 5px;
            padding-bottom: 0px;
            overflow: auto;
            // @include base.style-webkit_scrollbar;
            &::-webkit-scrollbar {
                width: 0;
            }
            &__point {
                position: relative;
                padding: 2px 5px;
                border-radius: 5px;
                font-size: 14px;
                display: flex;
                align-items: center;
                max-height: 50px;
                margin-bottom: 5px;
                @include base.style-main_click;
                &__click {
                    position: absolute;
                    top: 0; bottom: 0; right: 0; left: 0;
                    z-index: 3;
                }
                &__mark {
                    position: relative;
                    z-index: 1;
                    height: 10px;
                    width: 0;
                    margin-right: 0;
                    transition: .2s;
                    border-radius: 2px;
                    background-color: base.$clr-blue_light;
                }
                &__title {
                    position: relative;
                    z-index: 1;
                }
                &_active {
                    @include base.style-main_active;
                }
                &_hidden {
                    opacity: 0;
                    max-height: 0px;
                    border-bottom: none;
                    border-top: none;
                    pointer-events: none;
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                }
            }
        }
    }
    & > input {
        display: none;
    }
    &_open {
        z-index: 3;
    }
    &_open &{
        &__header {
            border-radius: $-border_radius $-border_radius 0px 0px;
            &__icon > svg {
                transform: rotate(-90deg);
            }
        }
        &__body {
            max-height: 200px;
            opacity: 1;
        }
    }
    &_multiple &{
        &__body__list__point_active > .inputList__body__list__point__mark { 
            width: 4px;
            margin-right: 5px;
        }
    }
    // &_single &{
    //     &__body__list__point_active {
            
    //     }
    // }
}