@use '../default/base';

.seriesCard {
    display: block;
    &__banner {
        height: 222px;
        display: block;
        position: relative;
        border-radius: 15px;
        background-size: cover;
        transition: 0.15s;
        cursor: pointer;
        overflow: hidden;
        animation-timing-function: base.$tf-main;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
        border: 1px solid rgba(255, 255, 255, .15);
        &__imgBlock {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            opacity: 1;
            transition: 0.15s;
            & > img {
                border-radius: 10px;
                height: 100%;
            }
        }
    }
    &__info {
        position: relative;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        transition: 0.15s;
        &__left {
            min-width: 0;
        }
        &__right {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            min-width: max-content;
            // min-width: 0;
            // margin-left: -50px;
        }
        &__name {
            position: relative;
            z-index: 1;
            font-family: base.$fnt-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__countGames {
            position: relative;
            z-index: 2;
            font-family: base.$fnt-all;
            font-weight: 700;
            // transform: translateX(-100%);
            transition: 0.15s;
            & > span {
                font-weight: 400;
                color: rgb(200, 200, 200);
            }
        }
        &__buttons {
            z-index: 2;
            display: flex;
            justify-content: end;
            gap: 5px;
            opacity: 0;
            transform: translateY(-15px);
            // margin-left: -100%;
            max-width: 0;
            overflow: hidden;
            transition: 0.15s;
            &__button {
                position: relative;
                height: 35px;
                width: 35px;
                z-index: 2;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                overflow: hidden;
                // transform: scale(0);
                transition: 0.15s;
                & img {
                    height: 18px;
                    filter: invert(1);
                }
                @include base.style-main_click;
            }
        }
    }

    &_open {
        // transition: .2s;
        opacity: 1;
        transform: translateY(0px);
        &:nth-child(1) {
            transition-delay: 0s;
        }
        &:nth-child(2) {
            transition-delay: .05s;
        }
        &:nth-child(3) {
            transition-delay: .1s;
        }
        &:nth-child(4) {
            transition-delay: .2s;
        }
        &:nth-child(5) {
            transition-delay: .25s;
        }
    }

    &:hover &{
        &__banner {
            transform: scale(1.05);
        }
        &__info {
            transform: translateY(7px);
            &__right {
                margin-left: 0px;
            }
            &__buttons {
                // margin-left: 0px;
                opacity: 1;
                transform: translateY(0px);
                max-width: 200px;
                &__button {
                    // transform: scale(1);
                }
            }
            &__price {
                transform: translateX(0);
                text-shadow: 0 0 10px base.$clr-main_body;
            }
        }
    }
}