@use '../default/base';

.switch {
    &__head {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 20px;
        gap: 10px;
        &__point {
            position: relative;
            padding: 12px 16px 12px 16px;
            cursor: pointer;
            border-radius: 23px;
            background-color: rgba(255, 255, 255, .05);
            @include base.style-main_click;
            transition: .2s;
            &__text {
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            &_active {
                @include base.style-main_active;
                &:hover {
                    @include base.style-main_active;
                }
            }
            &:active {
                transform: scale(.95);
            }
        }
    }
    &__content {
        animation: open_offers_games 0.5s ease 1;
    }
}