.topImgParalaxBlock {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    // height: 550px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    overflow: hidden;
    & > img {
        min-width: 100%;
        min-height: 100%;
    }
}